{% extends 'base.html.twig' %}

{% block title %}Newshare{% endblock %}

{% block body %}
    <ul>
        {% for link in links %}
            <li>
                <div style="display: flex; flex-direction: row">
                    <div>
                        {{ link.getNbUpvotes() }}
                    </div>
                    <div style="display: flex; flex-direction: column">
                        <a href="{{ path('reaction_vote', {id: link.id}) }}?type=LIKE"><img src="https://cdn-icons-png.flaticon.com/512/5820/5820191.png"
                                        style="width: 20px; transform: scaleY(-1);"></a>
                        <a href="{{ path('reaction_vote', {id: link.id}) }}?type=DISLIKE"><img src="https://cdn-icons-png.flaticon.com/512/5820/5820191.png"
                                        style="width: 20px"></a>
                    </div>
                    <div>
                        <p>{{ link.title }}</p>
                        <p>{{ link.url }}</p>
                        <a href="{{ path('link_delete', {id: link.id}) }}">Supprimer</a>
                        <a href="{{ path('link_show', {id: link.id}) }}">Details</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
